@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  font-family: Montserrat Custom, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.custom-text-stroke {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff500;
  transition: -webkit-text-stroke-color 0.5s ease;
}
.hover\:custom-text-stroke-hover:hover {
  -webkit-text-stroke-color: rgb(216 180 254 / var(--tw-text-opacity)); /* Màu tím */
  --tw-text-opacity: 1;
}
.custom-text-stroke2 {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #fff500;
  transition: -webkit-text-stroke-color 0.5s ease;
}

.hover\:custom-text-stroke2-hover:hover {
  -webkit-text-stroke-color: rgb(216 180 254 / var(--tw-text-opacity)); /* Màu tím */
  --tw-text-opacity: 1;
}

.gradient-text {
  background: linear-gradient(92deg, #d600ff 30%, #ffea28 92.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@layer base {
  .container-full {
    @apply mx-auto max-w-full w-[1920px] px-[238px];
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
